:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
}

html,
body,
#reader,
foliate-view {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background: Canvas;
  color: CanvasText;
  overflow: hidden;
}

#reader {
  display: block;
}

#status {
  margin: 0 auto;
  max-width: 42rem;
  padding: 4rem;
}

foliate-view {
  display: block;
}
